@page "/aws-things"
@rendermode InteractiveServer

@using Amazon.S3.Model
@using BlazorWeb.Services;

@inject IAwsS3Service AwsS3Service

<PageTitle>Aws Surfer</PageTitle>

<h3 style="font-weight:300;margin:0.6em 0;">S3 Buckets</h3>
<button class="btn btn-info" style="margin:0.6em 0;" @onclick="FetchBuckets">Fetch</button>
@if (buckets is not null)
{
    @foreach (var bucket in buckets)
    {
        <li style="list-style-type:none;padding:0.6em 0;border-bottom:1px solid #ddd;">
            <p>@bucket.BucketName</p>
            <p>@bucket.CreationDate</p>
        </li>
    }
}

@code {
    private List<S3Bucket> buckets {get; set;} = null!;
    private async Task FetchBuckets()
    {
        buckets = await AwsS3Service.ListBuckets();
    }
}