@* @using something *@

@namespace BlazorWeb.Components.Aws

@rendermode InteractiveServer

<div>
    <div style="border:1px solid #333;padding:1em;">
        <h3 style="font-weight:300;margin:0.6em 0;">Cloudformation Stacks</h3>
        <button class="btn btn-info" style="margin:0.6em 0;" >Fetch</button>
    </div>
    <div>
        <h3 style="font-weight:300;margin:0.6em 0;">Upload Cloudformation</h3>
        <p>Some form to upload yamls... I don't even know...</p>
    </div>
</div>
@code {}